<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
포스트

{{#postList}}
<table>
    <tbody>
    <tr>
        <td><img src="/api/video/thumbnail/{{fileId}}" style="width: 200px; height: auto;"></td>
        <td><a href="/post/{{postId}}">{{title}}</a></td>
        <td>{{uploaderName}}</td>
    </tr>
    </tbody>
</table>
{{/postList}}
{{^postList}}
    맞는 게시글이 없습니다.
{{/postList}}
</body>
</html>