<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<table>
    <tbody>
    <tr>
        <td>{{post.title}}</td>
        <td><video controls src="/api/video/{{post.fileId}}">지원하지 않는 브라우저</video></td>
        <td>{{post.uploader}}</td>
        <td>{{post.content}}</td>
    </tr>
    </tbody>
</table>

<input type="hidden" id="postId" name="postId" value="{{post.postId}}">
<button type="button" id="btn-delete">게시글 삭제</button>
<button type="button" id="btn-go-update" onclick="location.href='/post/update/{{post.postId}}'">게시글 변경</button>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>