<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
포스트

{{#postList}}
    <table>
        <tbody>
        <tr>
            <td><video controls src="/api/downloadVideo/{{fileId}}">안됨</video></td>
            <td>{{title}}</td>
            <td>{{uploaderName}}</td>
        </tr>
        </tbody>
    </table>
{{/postList}}
{{^postList}}
    맞는 게시글이 없습니다.
{{/postList}}
</body>
</html>